RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php?url=$1

Options All -Indexes

# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:tQ0bTXNvfx
ErrorDocument 403 /403.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE tQ0bTXNvfx:ERRORPAGEID


# DO NOT REMOVE THIS LINE AND THE LINES BELOW ERRORPAGEID:PVj6whxFln
ErrorDocument 404 /404.html
# DO NOT REMOVE THIS LINE AND THE LINES ABOVE PVj6whxFln:ERRORPAGEID